server:
  port: 8080

spring:
  application:
    name: gateway-service

  main:
    web-application-type: reactive

  cloud:
    gateway:
      httpclient:
        connect-timeout: 10000
        response-timeout: 60000

      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins:
              - "http://localhost:5173"
              - "http://localhost:4280"
              - "https://*.azurestaticapps.net"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: user-route
          uri: ${USER_SERVICE_URL:http://user-service:8080}
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1

      # - id: catalog-route
      #   uri: ${CATALOG_SERVICE_URL:http://catalog-service:8080}
      #   predicates:
      #     - Path=/api/catalog/**
      #   filters:
      #     - StripPrefix=1

      # - id: streaming-route
      #   uri: ${STREAMING_SERVICE_URL:http://streaming-service:8080}
      #   predicates:
      #     - Path=/api/streaming/**
      #   filters:
      #     - StripPrefix=1

logging:
  level:
    "[org.springframework.cloud.gateway]": DEBUG
    "[org.springframework.http.server.reactive]": DEBUG
    "[org.springframework.web.reactive]": DEBUG
    "[reactor.netty]": DEBUG
